
body {
    background-color: #1f1f1f;
    height: 1500px;
}

header {
    display: flex; 
    justify-content: center;
    align-items: center; height: 100px;

    margin: auto;
    margin-top: 30px;
    width: 60%;

    background-color: lightpink;
}

.imgTop {
    margin: 15px;
}

.imgBig {
    width: 125px;
    height: 125px;
    background-color: wheat;
}

.imgMid {
    height: 80px;
    width: 80px;
}

.imgSml {
    height: 40px;
    width: 40px;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin: auto;
    margin-top: 20px;

    background-color: lightslategray;
}

.sixElement {
    display: flex;
    justify-content: space-between; 
    margin: auto;
    padding: 5px;
    width: 90%;
    margin-top: 10px;
}

.fourDoubleElement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.fourDoubleItem {
    padding: 20px;
    text-align: center;
}

.buttonMain {
    border: 1px solid #c743d8;
    background-color: #411d46;
    height: 20px;
    width: 125px;
    
    margin: auto;
    margin-top: 10px;
}

.buttonSmall {
    width: 40px;
    height: 10px;
}

.threeDoubleElement {
    display: flex;
    height: 80px;
}

.threeDoubleItem {
    display: flex;
    margin-top: 10px;
    margin-left: 10px; 
    margin-right: 10px;
}
