
body {
    background-color: #1f1f1f;
}

header {
    display: flex; 
    justify-content: center;
    align-items: center; height: 100px;

    margin: auto;
    margin-top: 30px;
    width: 60%;

    background-color: lightpink;
}

.imgTop {
    margin: 15px;
}
.imgMid {
    height: 100px;
    width: 100px;
}

.imgSml {
    height: 40px;
    width: 40px;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin: auto;
    margin-top: 20px;

    background-color: lightslategray;
}

.sixElement {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    background-color: aqua;
    /* padding: 5%; */

}

.fourDoubleElement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    background-color: blue;
}

.fourDoubleItem {
    text-align: center;
}

.threeDoubleElement {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    max-height: 55px;
    background-color: blueviolet;

}
